* {
  box-sizing: border-box;
  font-family: 'Oswald'; }

body {
  background: #fff; }

/*HEADER*/
header {
  background: url(../assets/header.jpg) no-repeat center center transparent;
  background-size: cover;
  height: 525px;
  color: #083451; }

li {
  list-style-type: none; }

.logo div, img {
  float: left; }

.logo img {
  margin-top: 10px;
  margin-left: 140px; }

.logo div {
  margin-top: 25px;
  margin-left: 5px; }

.headerNav {
  float: right;
  margin-right: 140px;
  padding-top: 9px; }

.headerNav li {
  display: inline-block;
  padding-left: 15px;
  font-weight: bold;
  font-size: 16px; }

.headerNav img {
  float: right;
  padding-left: 7px; }

h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 78px;
  text-align: center;
  padding-top: 225px;
  margin: 0 auto; }

header p {
  text-align: center;
  margin: 0 auto; }

/*     Main    */
main {
  overflow: auto; }

h2 {
  color: #083451;
  font-size: 56px;
  margin: 0 auto; }

.meta {
  margin-bottom: 20px; }

.meta div {
  padding: 10px 0 0 0;
  display: inline-block;
  color: #BAC6CF; }

.meta .screenName {
  margin-left: 5px;
  color: #083451;
  font-weight: bold; }

.meta img {
  background: #083451;
  border: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 12.5px; }

article {
  margin-left: 30px;
  margin-top: 15px;
  color: #5E686F;
  width: 640px;
  float: left; }

.quote {
  padding-left: 20px;
  height: 56px;
  border-left: 3px solid #BAC6CF;
  color: #106DB3;
  font-size: 25px;
  font-weight: lighter; }

.quote p {
  padding-top: 14px; }

aside {
  float: right;
  width: 260px;
  margin-right: 30px;
  margin-top: 20px; }

.socialButton {
  color: #5E686F; }

.readComments {
  height: 30px;
  width: 158px; }

.readLater {
  height: 30px;
  width: 130px; }

.shareThisPost {
  height: 30px;
  width: 158px; }

.largeProfile img {
  width: 85px;
  height: 85px;
  border-radius: 42.5px; }

.largeProfile div {
  color: #083451;
  font-size: 16px;
  font-weight: bold;
  display: inline-block; }

footer {
  height: 500px;
  background: yellow; }
