
$mainFontColor: #083451;
$mainGray: #BAC6CF;

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width/2;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

/*HEADER*/

header {
  background: url(../assets/header.jpg) no-repeat center center transparent;
  background-size: cover;
  height: 525px;
  color: $mainFontColor;
}

li {
   list-style-type: none;
}

.logo div, img {
  float: left;
}

.logo img {
  margin-top: 10px;
  margin-left: 140px;
}

.logo div {
  margin-top: 25px;
  margin-left: 5px;
}

.headerNav {
  float: right;
  margin-right: 140px;
  padding-top: 9px;
}

.headerNav li {
    display: inline-block;
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
}

.headerNav img {
  float: right;
  padding-left: 7px;
}

h1 {
  color: #fff;
  font-weight: lighter;
  font-size: 78px;
  text-align: center;
  padding-top: 225px;
  margin: 0 auto;
}

header p {
  text-align: center;
  margin: 0 auto;
}

/*     Main    */

main {
  margin-left: 10%;
  margin-top: 7%;
  margin: 10%;
}

h2 {
  color: $mainFontColor;
  font-size: 56px;
  margin: 0 auto;
}

.meta {
  margin-bottom: 20px;
}

.meta div {
  padding: 10px 0 0 0;
  display: inline-block;
  color: $mainGray;
}

.meta .screenName {
  margin-left: 5px;
  color: $mainFontColor;
  font-weight: bold;
}

.meta img {
 background: $mainFontColor;
 border: none;
 display: inline-block;
 @include circle(25px);
}

main p {
  margin: 0 auto 0 20px 0;
}

.quote {
  padding-left: 20px;
  height: 56px;
  border-left: 3px solid $mainGray;
  color: #106DB3;
  font-size: 25px;
  font-weight: lighter;
}

.quote p {
  padding-top: 14px;
}

aside {
float: right;
}

.socialButton {
  color: #5E686F;
}

.readComments{
  height: 30px;
  width: 158px;
}

.readLater{
  height: 30px;
  width: 130px;
}

.shareThisPost{
  height: 30px;
  width: 158px;
}
